header {
   .headerTop {
      background: #4e4e4e;

      .inner {
         height: 1%;
         margin: 0px auto;
         max-width: 1280px;
         overflow: hidden;
         width: 77.5%;
         @media(max-width: 1100px) {
            width: 100%;
         }

         .wrapInfo {
            float: left;

            a {               
               color: #fff;
               display: block;
               float: left;
               line-height: 40px;
               font-size: 20px;   
               text-decoration: none;
               transition: background 250ms, color 250ms;

               &:nth-of-type(1) {
                  background: #777777;
                  font-weight: 100;
                  padding: 0px 40px;

                  span {
                     color: #feda3f;
                     font-weight: bold;
                  }

                  &:hover {
                     background: #feda3f;
                     color: #4e4e4e;

                     span {
                        color: #4e4e4e;
                     }
                  }
               }

               &:nth-of-type(2) {
                  padding: 0px 20px;
                  font-weight: 100;
                  font-size: 14px;
               }

               &:nth-of-type(3) {
                  height: 30px;
                  background: #999a9a;
                  color: #4e4e4e;
                  text-align: center;
                  line-height: 33px;
                  margin: 5px 0px;
                  width: 30px;

                  &:hover {
                     background: #feda3f;
                     color: #000;
                  }
               }
            }            
         }

         .wrapservicios {
            float: right;

            a {
               color: #fff;
               display: block;
               float: left;
               font-size: 14px;
               line-height: 40px;
               padding: 0px 20px;
               text-decoration: none;
               transition: background 250ms, color 250ms;

               &:nth-of-type(1) {
                  background: #656464;
               }

               &:hover {
                  background: #feda3f;
                  color: #4e4e4e;
               }
            }
         }

         .form {
            float: right;

            form {
               width: 17%;

               fieldset {
                  position: relative;

                  input {
                     border: none;
                     background: #8c8c8c;
                     display: block;
                     height: 40px;
                     padding: 0px 30px 0px 10px;
                     outline: none;
                     color: #fff;
                  }

                  button {
                     background: none;
                     border: none;
                     font-size: 18px;
                     position: absolute;
                     right: 0px;
                     top: 6px;
                     color: #686363;
                  }
               }
            }
         }
      }
   }

   .headerBottom {
      background: #feda3f;

      .inner {
         height: 1%;
         margin: 0px auto;
         max-width: 1280px;
         overflow: hidden;
         width: 77.5%;
         padding: 40px 0px;
         @media(max-width: 1100px) {
            width: 100%;
         }         

         h1 {
            display: block;
            float: left;
            width: 25.9%;

            a {
               display: block;

               img {
                  height: auto;
                  width: 100%;
               }
            }
         }

         nav {
            float: right;

            ul {
               li {
                  display: inline-block;

                  a {
                     color: #444444;
                     display: block;
                     font-family: 'Open Sans Condensed', sans-serif;
                     line-height: 55px;
                     padding: 0px 10px;
                     text-decoration: none;
                     text-transform: uppercase;
                     transition: color 250ms;

                     span {
                        margin-right: 5px;
                     }

                     &:hover {
                        color: #777777;
                     }
                  }

                  &:last-child {
                     a {
                        padding-right: 0px;
                     }
                  }
               }
            }
         }
      }
   }
}

